.gifs {
	&__list-item {
		@include transition;
		list-style: none;
		display: flex;
		flex-direction: column;
		margin-bottom: 1em;
	}

	&__list-item-image-wrapper {
		@include clip-path-2;
		position: relative;
		overflow: hidden;
		padding-top: $aspect-ratio;
		height: 0;
		margin-bottom: 0.5em;
	}

	&__list-item-image {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		object-fit: cover;
		object-position: center;
	}

	&__list-item-title {
		@include ff;
		font-size: 1.15em;
	}
}

@include hover-wrapper {
	.gifs__list-item:hover {
		cursor: pointer;
		transform: scale(1.05) translate(-10px, 10px);
	}
}
