.search {
	flex: 1 1;

	&__search-field {
		@include shadow;
		display: block;
		width: 100%;
		font-size: 1.1em;
		letter-spacing: 0.2px;
		border-radius: $corner-radius;
		appearance: none;
		padding: 0.5em 1em;
		border: none;

		@include sm {
			font-size: 1em;
			width: calc(100vw - 2 * #{$body-padding});
		}
	}
}
