body {
	@include ui-background;
	@include ff;
	color: $white;
	padding: 3vw;
	padding-bottom: 0;
	height: 100vh;
	overscroll-behavior: none;
	font-size: 18px;
}

h1,
h2,
h3,
h4 {
	@include ff(900);
}

p {
	line-height: 1.6;
	max-width: 60ch;
}

ul,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}

::selection {
	color: $v-pink-800;
	background-color: $v-pink-500;
}

input {
	@include transition;
}

input:focus {
	@include flat-shadow;
	border: none;
	outline: none;
}

@include hover-wrapper {
	input:hover {
		box-shadow: 0 0 0 5px rgba(darken($v-pink-500, 50%), 0.7);
	}
}

@include md {
	body {
		height: unset;
	}
}

@include sm {
	body {
		font-size: 16px;
	}
}
