// Brand color palette
$g-purple-100: hsl(269, 71%, 90%);
$g-purple-200: hsl(269, 71%, 80%);
$g-purple-300: rgb(177, 124, 233);
$g-purple-400: hsl(269, 71%, 60%);
$g-purple-500: hsl(269, 71%, 51%); // Logo text color
$g-purple-600: hsl(269, 71%, 30%);
$g-purple-700: hsl(269, 71%, 20%);
$g-purple-800: hsl(269, 100%, 8%); // Logo extrusion/background color
$g-purple-900: hsl(269, 100%, 3%);

// Colors
$white: #fff;

// Variables
$body-padding: 4vw;
$corner-radius: 0.5rem;
$aspect-ratio: calc((9 / 16) * 100%);
