// Brand color palette
$v-pink-100: hsl(316, 71%, 90%);
$v-pink-200: hsl(316, 71%, 80%);
$v-pink-300: hsl(316, 71%, 70%);
$v-pink-400: hsl(316, 71%, 60%);
$v-pink-500: hsl(316, 71%, 42%); // Logo text color
$v-pink-600: hsl(316, 71%, 30%);
$v-pink-700: hsl(316, 71%, 20%);
$v-pink-800: hsl(315, 100%, 8%); // Logo extrusion/background color
$v-pink-900: hsl(315, 100%, 3%);

// Colors
$white: #fff;

// Variables
$body-padding: 3vw;
$corner-radius: 0.5rem;
$aspect-ratio: calc((9 / 16) * 100%);
